<a href="https://colab.research.google.com/github/DFelton88/Python-Coding/blob/master/Pandas_Assignment_1_9_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving cars.csv to cars.csv

In [ ]:
df = pd.read_csv('cars.csv')

In [ ]:
#Extract the first 5 rows of the dataframe
df.head(5)

   id first_name    last_name  ...   car_model car_model_year            car_vin
0   1      Elsey    MacEnelly  ...     Sunfire           2005  JN1AV7ARXFM870659
1   2        Web      Balmann  ...      Accent           1998  4F2CY0C79BK404159
2   3       Abey    Bernardet  ...          ES           1993  SCFFDAAE1CG604846
3   4      Adler  McGillecole  ...  Rendezvous           2002  WAUVF78K39A869814
4   5        Ola       Sparry  ...    Frontier           2001  1N6AA0CJ5DN998948

[5 rows x 10 columns]

In [ ]:
#Extract the first 25 rows
df.head(25)

    id first_name  ... car_model_year            car_vin
0    1      Elsey  ...           2005  JN1AV7ARXFM870659
1    2        Web  ...           1998  4F2CY0C79BK404159
2    3       Abey  ...           1993  SCFFDAAE1CG604846
3    4      Adler  ...           2002  WAUVF78K39A869814
4    5        Ola  ...           2001  1N6AA0CJ5DN998948
5    6     Nappie  ...           2011  WVWAP7AN1EE229042
6    7      Alysa  ...           2005  WBABN53452P450093
7    8      Bruce  ...           2007  1FMEU3DE6AU441345
8    9  Annabella  ...           1993  WBAVT73518F106735
9   10      Shane  ...           2006  1GTN1TEX8CZ146236
10  11      Irene  ...           1997  WBSWL93568P548528
11  12      Richy  ...           2001  JN1AY1AR2DM444501
12  13     Terrel  ...           1993  1D7RB1GT2BS183387
13  14      Pyotr  ...           2006  WBABD33456P771225
14  15     Isiahi  ...           2004  WAUMF78K99N721171
15  16    Sherill  ...           2009  1G6KF54941U294626
16  17     Demott  ...           2001  JTHBL1EFXE5721115
17  18     Oswell  ...           1996  2C4RDGBG0DR217056
18  19      Karim  ...           1997  JN1AV7AP9FM056436
19  20   Rachelle  ...           2009  3D4PG9FG3BT516235
20  21        Dav  ...           2010  1N6AD0CU6BC409464
21  22    Sauncho  ...           1987  1G4HA5EM4BU112428
22  23      Maris  ...           1990  JN1CV6EK6FM204639
23  24   Tatiania  ...           1980  1VWAH7A34EC273878
24  25       Joel  ...           1994  WVWAA7AH9BV957554

[25 rows x 10 columns]

In [ ]:
#Extract the last 5 rows of the dataframe
df.tail(5)

       id first_name  ... car_model_year            car_vin
995   996  Ethelbert  ...           1999  1N6AA0CC8DN240412
996   997       Yvon  ...           2000  WAUJC68E24A901432
997   998      Onfre  ...           1995  WAUDT48H05K333740
998   999   Vivianne  ...           2007  WAUBFAFL6AA707045
999  1000      Lisha  ...           2013  SCFAD22343K508879

[5 rows x 10 columns]

In [ ]:
#Create a new column named 'full_name' by combining the first_name and last_name columns
df.rename(columns={'first_name':'full_name','last_name':''}, inplace=True)

In [ ]:
#Rename the 'car_vin' column to 'vin_number'
df.rename(columns={'car_vin':'vin_number'}, inplace=True)

In [ ]:
#Find how many non null values are in each column
df.isnull().sum().sum()

119

In [ ]:
#Clone the dataframe and rename your new dataframe 'df2'
df.copy(deep=True)

       id  full_name  ... car_model_year         vin_number
0       1      Elsey  ...           2005  JN1AV7ARXFM870659
1       2        Web  ...           1998  4F2CY0C79BK404159
2       3       Abey  ...           1993  SCFFDAAE1CG604846
3       4      Adler  ...           2002  WAUVF78K39A869814
4       5        Ola  ...           2001  1N6AA0CJ5DN998948
..    ...        ...  ...            ...                ...
995   996  Ethelbert  ...           1999  1N6AA0CC8DN240412
996   997       Yvon  ...           2000  WAUJC68E24A901432
997   998      Onfre  ...           1995  WAUDT48H05K333740
998   999   Vivianne  ...           2007  WAUBFAFL6AA707045
999  1000      Lisha  ...           2013  SCFAD22343K508879

[1000 rows x 10 columns]

In [ ]:
df.rename(columns={"df.copy": "df2"})

       id  full_name  ... car_model_year         vin_number
0       1      Elsey  ...           2005  JN1AV7ARXFM870659
1       2        Web  ...           1998  4F2CY0C79BK404159
2       3       Abey  ...           1993  SCFFDAAE1CG604846
3       4      Adler  ...           2002  WAUVF78K39A869814
4       5        Ola  ...           2001  1N6AA0CJ5DN998948
..    ...        ...  ...            ...                ...
995   996  Ethelbert  ...           1999  1N6AA0CC8DN240412
996   997       Yvon  ...           2000  WAUJC68E24A901432
997   998      Onfre  ...           1995  WAUDT48H05K333740
998   999   Vivianne  ...           2007  WAUBFAFL6AA707045
999  1000      Lisha  ...           2013  SCFAD22343K508879

[1000 rows x 10 columns]

In [ ]:
#Remove all missing values in df2
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

       id  full_name  ... car_model_year         vin_number
0       1      Elsey  ...           2005  JN1AV7ARXFM870659
1       2        Web  ...           1998  4F2CY0C79BK404159
3       4      Adler  ...           2002  WAUVF78K39A869814
4       5        Ola  ...           2001  1N6AA0CJ5DN998948
5       6     Nappie  ...           2011  WVWAP7AN1EE229042
..    ...        ...  ...            ...                ...
995   996  Ethelbert  ...           1999  1N6AA0CC8DN240412
996   997       Yvon  ...           2000  WAUJC68E24A901432
997   998      Onfre  ...           1995  WAUDT48H05K333740
998   999   Vivianne  ...           2007  WAUBFAFL6AA707045
999  1000      Lisha  ...           2013  SCFAD22343K508879

[881 rows x 10 columns]